---
import Toolbar from "./Toolbar.astro"
import Step from "./Step.astro"
import Palette from "./Palette.astro"
import CodeSnippets from "./CodeSnippets.astro"
import ColorGrid from "./ColorGrid.astro"
---

<form id="form_color" class="flex flex-col gap-8">
	<Step step={1}>Select (or paste) a color</Step>
	<Toolbar />
	<Step step={2}
		>Try various Color Spaces, lighten/darken them, and add your fav to the palette</Step
	>
	<ColorGrid />
	<Step step={3}>Build your palette using various color schemes</Step>
	<Palette />
	<Step step={4}>Customize your code for Tailwind CSS</Step>
	<CodeSnippets />
	<Step step={5}>Copy and enjoy your new colors</Step>
</form>
