---
import LightDark from "./LightDark.astro"
import ToggleInstructions from "./ToggleInstructions.astro"
---

<header class="flex items-center justify-between">
	<h1 class="text-4xl font-bold dark:text-neutral-200">Color Generator for TailwindCSS</h1>
	<div class="flex items-center gap-4">
		<LightDark />
		<ToggleInstructions />
	</div>
</header>
